* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/img/table.png);
    background-position: center;
    background-size: cover;
    max-height: 100%;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.remaining-cards {
    color: #F0C419;
    text-shadow: 2px 2px 0px #5B0534;
    font-size: 1.3rem;
}

h1 {
    width: 100%;
    margin: 2rem 0 0 0;
    max-width: 700px;
}

h2 {
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0 0 0;
    color: #F0C419;
    text-shadow: 1px 1px 1px #5B0534;
}

.game-container {
    width: 100%;
    display: flex;
    gap: 2rem;
    height: 80%;
    max-height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.new-cards-button {
    display: block;
    width: 40%;
    max-width: 200px;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    background-color: #5B0534;
    background-image: url(/img/poker-chip.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid #000;
    transition-duration: 0.3s;
}

.new-cards-button::after {
    content: "";
    display: block;
    padding-bottom: 105%;
}

.new-cards-button:hover {
    cursor: pointer;
    filter: drop-shadow(4px 4px 0 #F0C419);
    transform: translateY(-3px);
    transition: transform 0.3s ease, filter 0.3s;
}

.new-cards-button:active {
    border-color: #F0C419;
}

.new-cards-button:disabled,
.new-cards-button[disabled],
.new-cards-button:active:disabled {
    filter: saturate(0);
    transform: unset;
    cursor: not-allowed;
}

.card-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8%;
    width: 100%;
    padding: 0 1rem;
    height: 60%;
}

.card-slot {
    border: 1px solid #5B0534;
    border-radius: 5px;
    max-width: 100%;
    height: 100%;
}

.card-img {
    width: 100%;
    overflow: auto;
}

.card-owner {
    display: block;
    hyphens: auto;
    overflow: auto;
    width: 100%;
    font-size: 5cqw;
    color: #fff;
}

span {
    text-align: center;
}

.hidden-placeholder {
    display: none;
}

.vs {
    display: inline-block;
    margin: 3rem auto;
    width: 100%;
}

.end-modal {
    z-index: 500;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffffdd;
    padding: 3rem 2rem;
    border-radius: 10px;
    text-align: center;
}

.end-modal h2 {
    margin: 0 0 3rem 0;
}

.modal-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 4rem;
}

.modal-close-btn,
.modal-newgame-btn {
    padding: 1rem 2rem;
    border-radius: 10px;
    border: 2px solid #5B0534;
    font-size: 1.2rem;
}

.modal-close-btn:active,
.modal-newgame-btn:active {
    border: 2px solid #F0C419;
}

.modal-close-btn {
    background-color: #5B0534;
    color: #fff;
}

.modal-newgame-btn {
    background-color: #012479;
    color: #fff;
}

.blurred {
    filter: blur(5px);
}

.end-modal.modalVisible {
    display: block;
}

@media screen and (min-width: 750px) {
    .card-owner {
        font-size: 40px;
    }
}