* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url(/img/table.png);
    background-position: center;
    background-size: cover;
    max-height: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.remaining-cards {
    color: #F0C419;
    text-shadow: 2px 2px 0px #5B0534;
    font-size: 1.3rem;
}

h1 {
    margin: 2rem 0 0 0;
}

h2 {
    font-size: 2rem;
    margin: 2rem 0 0 0;
    color: #F0C419;
    text-shadow: 1px 1px 1px #5B0534;
}

.game-container {
    max-width: 700px;
    margin: 2rem auto 0 auto;
    display: flex;
    gap: 2rem;
    height: 70%;
    max-height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.new-cards-button {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    background-color: #5B0534;
    background-image: url(/img/poker-chip.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid #000;
    transition-duration: 0.3s;
}

.new-cards-button:hover {
    cursor: pointer;
    filter: drop-shadow(4px 4px 0 #F0C419);
    transform: translateY(-3px);
    transition: transform 0.3s ease, filter 0.3s;
}

.new-cards-button:active {
    border-color: #F0C419;
}

.new-cards-button:disabled,
.new-cards-button[disabled],
.new-cards-button:active:disabled {
    filter: saturate(0);
}

.card-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8%;
    width: 100%;
    padding: 0 1rem;
}

.card-slot {
    border: 1px solid #5B0534;
    border-radius: 5px;
    max-width: 100%;
    height: 100%;
}

.card-img {
    width: 100%;
    overflow: auto;
}

.card-owner {
    hyphens: auto;
    overflow: auto;
    font-size: 1.5rem;
    width: 100%;
}

span {
    text-align: center;
}

.vs {
    display: inline-block;
    margin-top: 3rem;
    min-width: 50px;
    max-width: 100%;
}

.hidden-placeholder {
    display: none;
}